.kefuchat-opener {
  width: 336px;
  position: fixed;
  bottom: 0;
  right: 90px;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  z-index: 99999;
}

.kefuchat-opener .kefuchat-kfdesc {
  font-size: 16px;
  font-family: Arial, Arial;
  font-style: normal;
  color: rgb(240, 241, 241);
  font-weight: 300;
  padding: 10px 18px;
  user-select: none;
}

.kefuchat-opener .kefuchat-logo {
  width: 66px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  position: absolute;
  top: 12px;
  right: 40px;
}

.kefuchat-opener .kefuchat-badge {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDMyIDQwIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiMxOEMxMzkiIGQ9Ik05IDBjMy41ODEuMDUgMjMgNS40MjYgMjMgMzMuMDh2LjAzQzE4LjkyMiAzMC43NTEgOSAxOS4zMTEgOSA1LjU1NFYweiIvPjwvZz48L3N2Zz4=') no-repeat no-repeat;
  width: 32px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.kefuchat-chat {
  position: fixed;
  bottom: 0;
  right: 90px;
  display: none;
  z-index: 99999;
}

.kefuchat-chat .kefuchat-close {
  display: inline-block;
  cursor: pointer;
  top: 0;
  margin-right: 5px;
  vertical-align: top;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(2%202)%22%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FFF%22%20opacity%3D%221%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212.75%22%20stroke%3D%22%23222D38%22%20stroke-width%3D%221.5%22%20opacity%3D%221%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cg%20fill%3D%22%23222D38%22%20opacity%3D%221%22%20transform%3D%22translate(6%206)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20width%3D%221.611%22%20height%3D%2213.9%22%20x%3D%225.435%22%20y%3D%22-.941%22%20rx%3D%22.806%22%20transform%3D%22rotate(45%206.24%206.01)%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20width%3D%221.611%22%20height%3D%2213.9%22%20x%3D%225.435%22%20y%3D%22-.941%22%20rx%3D%22.806%22%20transform%3D%22scale(-1%201)%20rotate(45%200%20-9.058)%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
  width: 28px;
  height: 28px;
}

.kefuchat-iframe {
  vertical-align: bottom;
  display: inline-block;
  border: 0;
  width: 336px;
  top: auto;
  bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  right: 93px;
  height: 528px;
  transition: width 300ms cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s, margin-right 300ms cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s, right 300ms cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s, transform 300ms cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s, opacity 300ms cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s, height 300ms cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s, left 300ms cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s;
  will-change: width, margin-right, right, transform, opacity, left, height;
  transform: translateY(0%);
  margin-right: 0px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.kefuchat-greet {
  width: 220px;
  position: fixed;
  right: 90px;
  background: #fff;
  bottom: 65px;
  cursor: pointer;
  box-shadow: 0 5px 20px rgb(33 37 41 / 22%);
  border-radius: 4px;
  padding: 24px 16px 16px;
}

.kefuchat-greet-msg-content {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.kefuchat-greet-head img.avatar-img {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 30px;
}

.kefuchat-greet-head {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}

.kefuchat-greet-msg {
  padding: 10px 5px 5px;
  color: #33475b;
}